@import url('https://fonts.google.com/specimen/Inter');
@import url('https://fonts.google.com/specimen/Lexend+Deca');


* {
    font-family: 'Inter', sans-serif;
    font-size: 15px; text-align: center;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: hsl(233, 47%, 7%);
}

.container {
    width: 327px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 15px;
    margin: 50px auto;
}
header {
    width: 100%;
    height: 240px;
    background-color: hsl(277, 64%, 61%);
    border-radius: 15px 15px 0 0;

}

header img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    opacity: 0.7;
}

h1 {
    display: inline-block;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;  
    padding: 40px 40px 0 40px;
}

h1 strong {
    color: hsl(277, 64%, 61%);
}

.conteudo p {
    color: hsla(0, 0%, 100%, 0.548);
    font-size: 14px;
    line-height: 25px;
    font-family:'Lexend Deca', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 20px 50px;
}

ul li {
    font-size: 20px;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 700;
    
}

ul li:nth-child(3) {
    padding-bottom: 40px;
}

ul li p {
    color: hsla(0, 0%, 100%, 0.548);
    font-size: 12px;
    font-family:'Lexend Deca', sans-serif;
    font-weight: 400;
    padding-top: 10px; 
}

@media (min-width: 450px) {

    .container {
        width: 1440px;
        background-color: hsl(244, 38%, 16%);
        border-radius: 15px;
    }

    header {
        float: right;
        width: 540px;
        height: 396px;
        background-color: hsl(277, 64%, 61%);
        border-radius: 0 15px 15px 0;
    }

    header img {
        width: 100%;
        border-radius: 0 15px 15px 0;
    }


}
